<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="gallery">
      <ion-icon name="image-outline"></ion-icon>
      <ion-label>Gallery</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="users">
      <ion-icon name="people-outline"></ion-icon>
      <ion-label>Users</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="about">
      <ion-icon name="information-circle-outline"></ion-icon>
      <ion-label>About</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
